@import "./components/Search/searchbar.css";

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #cccccc25;
  justify-content: center;
  padding-top: 5vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
